.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  // background: linear-gradient(
  //   325deg,
  //   var(--blue-dark) 0%,
  //   var(--purple) 30%,
  //   var(--rose-clear) 70%,
  //   var(--ice) 100%
  // );
  // padding: 40px 60px;
  background: linear-gradient(to right, #3f2d59, #6610f2, #3f2d59);
  border-radius: 0.5rem;

  h2 {
    font-size: clamp(2.4em, 3.5vw, 3em);
    color: var(--ice);
    transform: uppercase;
    letter-spacing: 0.1em;

    background: linear-gradient(
      to right,
      var(--ice) 20%,
      #65c7f7 40%,
      #0052d4 60%,
      #fff 80%
    );

    border-top: 0.1px solid #f1eeeea7;
    border-bottom: 0.1px solid #f1eeeea7;
    padding: 12px 6px;

    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
    background-size: 200% auto;
    animation: animate 7s linear infinite;

    @keyframes animate {
      0% {
        background-position: 0 center;
      }
      50% {
        background-position: 400% center;
      }
      100% {
        background-position: 0 center;
      }
    }
  }

  .game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
    max-width: 350px;
    .item {
      position: relative;
      width: 70px;
      height: 70px;
      display: flex;
      // flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background: #fff;
      font-size: 3rem;
      transform: rotateY(180deg);
      border-radius: 0.5rem;
      transition: all 0.3s ease-in-out;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--ice);
        transform: rotateY(0deg);
        transition: all 0.3s ease-in-out;
        backface-visibility: hidden;
      }
    }
  }

  .reset {
    padding: 15px 20px;
    width: 100%;
    color: var(--black);
    background: var(--ice);
    border: none;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border-radius: 0.5rem;

    &:focus {
      color: var(--rose);
      background: var(--graphite);
    }
  }
}
